<h2 class="center-align">Join us in Cowtow</h2>
<div class="container">
  <div class="row">
   <div class="col s12 m6 offset-m3">
     <div class="card blue lighten-5">
       <div class="card-content black-text">
         <span class="card-title center-align black-text">Moove In</span>
         <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
           <%= devise_error_messages! %>

           <div class="field">
             <%= f.label :email %><br />
             <%= f.email_field :email, autofocus: true %>
           </div>

           <div class="field">
             <%= f.label :password %>
             <% if @minimum_password_length %>
             <em>(<%= @minimum_password_length %> characters minimum)</em>
             <% end %><br />
             <%= f.password_field :password, autocomplete: "off" %>
           </div>

           <div class="field">
             <%= f.label :password_confirmation %><br />
             <%= f.password_field :password_confirmation, autocomplete: "off" %>
           </div>

           <div class="actions">
             <%= f.submit "Sign up" %>
           </div>
         <% end %>
       </div>
       <div class="card-action">
         <a>This is a link</a>
         <a href="#">This is a link</a>
       </div>
     </div>
   </div>
  </div>
</div>


<!-- <%= render "devise/shared/links" %> -->
