<!--  the array method used for this block is the way to call the child in the nested resource the hierchary of comment is to
<%= render 'comments/form', comment: @comment %> in the show.html and this connected to
@comment = Comment.new in the posts_controller
and I think the value for @post is coming from the post/show.html view
that comes from @post = Post.find(params[:id]) in the posts controller-->
<%= form_for([@post, comment]) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <p>Let's inspect @post: <%= @post.inspect %></p>
  <p>Let's inspect comment: <%= comment.inspect %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
