<meta property="og:url"           content="http://www.your-domain.com/your-page.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.email %>
</p>

<!-- this is the JS button for sharing though it's not working at the moment  -->
<div class="fb-share-button" data-href="http://google.com" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2F&amp;src=sdkpreparse">Share</a></div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<!-- this will render the comments _form and the comment means the comment in the _form will be @comments from the posts show controller which is Comment.new -->
<%= render 'comments/form', comment: @comment %>

<!-- this uses the comments instance variable in the posts controller which is assigned to @post.comments the .comments is a helper when there is a many_to relationship between the components. comments belongs to post and post can have many comments. -->
<% @comments.each do |comment| %>
  <%= render 'comments/show', comment: comment %>
<% end %>
